* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  @include media-to($phone-bp) {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
}

ul li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
  &:visited,
  &:focus,
  &:active {
    color: #000;
  }
}

abbr {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
}
