//font - weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// break points
$full-hd: 1920px;
$large-desktop-bp: 1600px;
$wide-bp: 1440px;
$desktop-bp: 1024px;
$tablet-bp: 768px;
$small-bp: 550px;
$phone-bp: 480px;
$extra-small: 420px;
